.cogs{
	-fx-shape: "M254.8,248.6v2.6c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.1,0.1-0.2,0.1l-2.2,0.3c-0.1,0.3-0.3,0.7-0.4,1.1
	c0.3,0.4,0.7,1,1.3,1.6c0.1,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.2-0.1,0.3c-0.2,0.3-0.6,0.7-1.2,1.2c-0.6,0.6-0.9,0.8-1.1,0.8
	c-0.1,0-0.2,0-0.3-0.1l-1.6-1.3c-0.3,0.2-0.7,0.3-1.1,0.4c-0.1,1-0.2,1.7-0.3,2.2c-0.1,0.2-0.2,0.3-0.4,0.3h-2.6
	c-0.1,0-0.2,0-0.3-0.1c-0.1-0.1-0.1-0.2-0.1-0.2l-0.3-2.1c-0.3-0.1-0.7-0.2-1-0.4l-1.6,1.2c-0.1,0.1-0.2,0.1-0.3,0.1
	c-0.1,0-0.2,0-0.3-0.1c-1.3-1.2-2-2-2-2.2c0-0.1,0-0.2,0.1-0.3c0.1-0.1,0.3-0.4,0.6-0.7c0.3-0.4,0.5-0.6,0.7-0.9
	c-0.2-0.4-0.4-0.8-0.5-1.1l-2.1-0.3c-0.1,0-0.2-0.1-0.2-0.1s-0.1-0.2-0.1-0.3v-2.6c0-0.1,0-0.2,0.1-0.3c0.1-0.1,0.1-0.1,0.2-0.1
	l2.2-0.3c0.1-0.3,0.3-0.7,0.4-1.1c-0.3-0.4-0.7-1-1.3-1.6c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.2,0.1-0.3c0.2-0.3,0.6-0.7,1.1-1.2
	c0.6-0.5,0.9-0.8,1.1-0.8c0.1,0,0.2,0,0.3,0.1l1.6,1.3c0.3-0.2,0.7-0.3,1.1-0.4c0.1-1,0.2-1.7,0.3-2.1c0.1-0.2,0.2-0.3,0.4-0.3h2.6
	c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.2l0.3,2.1c0.3,0.1,0.7,0.2,1,0.4l1.6-1.2c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0.1
	c1.3,1.2,2,2,2,2.2c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.3,0.4-0.6,0.8c-0.3,0.4-0.5,0.6-0.6,0.8c0.2,0.4,0.4,0.8,0.5,1.1l2.1,0.3
	c0.1,0,0.2,0.1,0.2,0.1C254.8,248.4,254.8,248.5,254.8,248.6z M248.4,252.4c0.7-0.7,1-1.5,1-2.5c0-1-0.3-1.8-1-2.5
	c-0.7-0.7-1.5-1-2.5-1c-1,0-1.8,0.3-2.5,1c-0.7,0.7-1,1.5-1,2.5c0,1,0.3,1.8,1,2.5s1.5,1,2.5,1C246.9,253.4,247.7,253.1,248.4,252.4
	z M263.7,241.7v2c0,0.1-0.7,0.3-2.1,0.4c-0.1,0.3-0.3,0.5-0.4,0.7c0.5,1.1,0.7,1.7,0.7,1.9c0,0,0,0.1-0.1,0.1c-1.1,0.7-1.7,1-1.7,1
	c-0.1,0-0.3-0.2-0.6-0.7c-0.4-0.4-0.6-0.8-0.7-0.9c-0.2,0-0.3,0-0.4,0s-0.2,0-0.4,0c-0.1,0.2-0.4,0.5-0.7,0.9
	c-0.4,0.4-0.6,0.7-0.6,0.7c0,0-0.6-0.3-1.7-1c0,0-0.1-0.1-0.1-0.1c0-0.2,0.2-0.9,0.7-1.9c-0.2-0.2-0.3-0.5-0.4-0.7
	c-1.4-0.1-2.1-0.3-2.1-0.4v-2c0-0.1,0.7-0.3,2.1-0.4c0.1-0.3,0.3-0.5,0.4-0.7c-0.5-1.1-0.7-1.7-0.7-1.9c0,0,0-0.1,0.1-0.1
	c0,0,0.2-0.1,0.5-0.3c0.3-0.2,0.6-0.3,0.8-0.5c0.3-0.1,0.4-0.2,0.4-0.2c0.1,0,0.3,0.2,0.6,0.6s0.6,0.7,0.7,0.9c0.2,0,0.3,0,0.4,0
	s0.2,0,0.4,0c0.5-0.7,0.9-1.2,1.3-1.6l0.1,0c0,0,0.6,0.3,1.7,1c0,0,0.1,0.1,0.1,0.1c0,0.2-0.2,0.9-0.7,1.9c0.2,0.2,0.3,0.5,0.4,0.7
	C263,241.5,263.7,241.6,263.7,241.7z M263.7,256v2c0,0.1-0.7,0.3-2.1,0.4c-0.1,0.3-0.3,0.5-0.4,0.7c0.5,1.1,0.7,1.7,0.7,1.9
	c0,0,0,0.1-0.1,0.1c-1.1,0.7-1.7,1-1.7,1c-0.1,0-0.3-0.2-0.6-0.7c-0.4-0.4-0.6-0.8-0.7-0.9c-0.2,0-0.3,0-0.4,0s-0.2,0-0.4,0
	c-0.1,0.2-0.4,0.5-0.7,0.9c-0.4,0.4-0.6,0.7-0.6,0.7c0,0-0.6-0.3-1.7-1c0,0-0.1-0.1-0.1-0.1c0-0.2,0.2-0.9,0.7-1.9
	c-0.2-0.2-0.3-0.5-0.4-0.7c-1.4-0.1-2.1-0.3-2.1-0.4v-2c0-0.1,0.7-0.3,2.1-0.4c0.1-0.3,0.3-0.5,0.4-0.7c-0.5-1.1-0.7-1.7-0.7-1.9
	c0,0,0-0.1,0.1-0.1c0,0,0.2-0.1,0.5-0.3c0.3-0.2,0.6-0.3,0.8-0.5c0.3-0.1,0.4-0.2,0.4-0.2c0.1,0,0.3,0.2,0.6,0.6s0.6,0.7,0.7,0.9
	c0.2,0,0.3,0,0.4,0s0.2,0,0.4,0c0.5-0.7,0.9-1.2,1.3-1.6l0.1,0c0,0,0.6,0.3,1.7,1c0,0,0.1,0.1,0.1,0.1c0,0.2-0.2,0.9-0.7,1.9
	c0.2,0.2,0.3,0.5,0.4,0.7C263,255.7,263.7,255.9,263.7,256z M260.2,242.7c0-0.5-0.2-0.9-0.5-1.3c-0.4-0.4-0.8-0.5-1.3-0.5
	s-0.9,0.2-1.3,0.5c-0.4,0.4-0.5,0.8-0.5,1.3c0,0.5,0.2,0.9,0.5,1.3s0.8,0.5,1.3,0.5s0.9-0.2,1.3-0.5S260.2,243.2,260.2,242.7z
	 M260.2,257c0-0.5-0.2-0.9-0.5-1.3c-0.4-0.4-0.8-0.5-1.3-0.5s-0.9,0.2-1.3,0.5s-0.5,0.8-0.5,1.3c0,0.5,0.2,0.9,0.5,1.3
	c0.3,0.3,0.8,0.5,1.3,0.5s0.9-0.2,1.3-0.5C260,257.9,260.2,257.5,260.2,257z";
	-fx-background-color: grey;
	-fx-pref-width: 30px;
	-fx-pref-height: 27px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.meter{
	-fx-shape: "M262.3,252.7c0,2.4-0.7,4.7-2,6.7c-0.2,0.3-0.4,0.4-0.8,0.4h-19.6c-0.3,0-0.6-0.1-0.8-0.4c-1.3-2.1-2-4.3-2-6.7
	c0-1.7,0.3-3.3,1-4.9s1.5-2.9,2.7-4c1.1-1.1,2.4-2,4-2.7c1.5-0.7,3.2-1,4.9-1c1.7,0,3.3,0.3,4.9,1c1.5,0.7,2.9,1.5,4,2.7
	s2,2.4,2.7,4C262,249.4,262.3,251,262.3,252.7z M242.2,254c0.3-0.3,0.5-0.8,0.5-1.3s-0.2-0.9-0.5-1.3s-0.8-0.5-1.3-0.5
	s-0.9,0.2-1.3,0.5s-0.5,0.8-0.5,1.3s0.2,0.9,0.5,1.3s0.8,0.5,1.3,0.5S241.8,254.3,242.2,254z M244.8,247.7c0.3-0.3,0.5-0.8,0.5-1.3
	s-0.2-0.9-0.5-1.3c-0.3-0.3-0.8-0.5-1.3-0.5c-0.5,0-0.9,0.2-1.3,0.5s-0.5,0.8-0.5,1.3s0.2,0.9,0.5,1.3s0.8,0.5,1.3,0.5
	C244.1,248.3,244.5,248.1,244.8,247.7z M251.3,253.2l1.4-5.3c0.1-0.2,0-0.5-0.1-0.7c-0.1-0.2-0.3-0.3-0.5-0.4
	c-0.2-0.1-0.5,0-0.7,0.1c-0.2,0.1-0.4,0.3-0.4,0.6l-1.4,5.3c-0.6,0-1.1,0.2-1.5,0.6c-0.4,0.4-0.7,0.8-0.9,1.4
	c-0.2,0.7-0.1,1.4,0.3,2c0.4,0.6,0.9,1.1,1.6,1.2c0.7,0.2,1.4,0.1,2-0.3c0.6-0.4,1.1-0.9,1.2-1.6c0.1-0.6,0.1-1.1-0.1-1.6
	C252.1,253.9,251.8,253.5,251.3,253.2z M251.1,245.1c0.3-0.3,0.5-0.8,0.5-1.3s-0.2-0.9-0.5-1.3c-0.3-0.3-0.8-0.5-1.3-0.5
	c-0.5,0-0.9,0.2-1.3,0.5s-0.5,0.8-0.5,1.3s0.2,0.9,0.5,1.3s0.8,0.5,1.3,0.5C250.3,245.6,250.7,245.4,251.1,245.1z M257.3,247.7
	c0.3-0.3,0.5-0.8,0.5-1.3s-0.2-0.9-0.5-1.3c-0.3-0.3-0.8-0.5-1.3-0.5c-0.5,0-0.9,0.2-1.3,0.5s-0.5,0.8-0.5,1.3s0.2,0.9,0.5,1.3
	s0.8,0.5,1.3,0.5C256.6,248.3,257,248.1,257.3,247.7z M260,254c0.3-0.3,0.5-0.8,0.5-1.3s-0.2-0.9-0.5-1.3c-0.3-0.3-0.8-0.5-1.3-0.5
	c-0.5,0-0.9,0.2-1.3,0.5s-0.5,0.8-0.5,1.3s0.2,0.9,0.5,1.3s0.8,0.5,1.3,0.5C259.3,254.5,259.7,254.3,260,254z";
	-fx-background-color: grey;
	-fx-pref-width: 30px;
	-fx-pref-height: 23px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.stop{
	-fx-shape: "M260.8,239.9v19.6c0,0.2-0.1,0.5-0.3,0.6s-0.4,0.3-0.6,0.3h-19.6c-0.2,0-0.5-0.1-0.6-0.3
	c-0.2-0.2-0.3-0.4-0.3-0.6v-19.6c0-0.2,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3h19.6c0.2,0,0.5,0.1,0.6,0.3
	S260.8,239.7,260.8,239.9z";
	-fx-background-color: grey;
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.6;
	-fx-scale-y: 0.6;
}

.play{
	-fx-shape: "M259.7,250.2l-18.5,10.3c-0.2,0.1-0.4,0.1-0.6,0c-0.2-0.1-0.2-0.3-0.2-0.5v-20.5c0-0.2,0.1-0.4,0.2-0.5
	c0.2-0.1,0.3-0.1,0.6,0l18.5,10.3c0.2,0.1,0.3,0.3,0.3,0.4C260,249.9,259.9,250.1,259.7,250.2z";
	-fx-background-color: grey;
	-fx-pref-width: 27px;
	-fx-pref-height: 30px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.bin{
	-fx-shape: "M259.8,243.2v0.9c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.1H258v13.2c0,0.8-0.2,1.4-0.7,2
	c-0.4,0.6-1,0.8-1.6,0.8h-11.6c-0.6,0-1.1-0.3-1.6-0.8s-0.7-1.2-0.7-2v-13.3h-1.3c-0.1,0-0.2,0-0.3-0.1c-0.1-0.1-0.1-0.2-0.1-0.3
	v-0.9c0-0.1,0-0.2,0.1-0.3c0.1-0.1,0.2-0.1,0.3-0.1h4.3l1-2.3c0.1-0.3,0.4-0.6,0.8-0.9c0.4-0.2,0.7-0.4,1.1-0.4h4.5
	c0.4,0,0.7,0.1,1.1,0.4c0.4,0.2,0.6,0.5,0.8,0.9l1,2.3h4.3c0.1,0,0.2,0,0.3,0.1C259.7,242.9,259.8,243,259.8,243.2z M247.3,256.6
	v-9.8c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1H246c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3v9.8c0,0.1,0,0.2,0.1,0.3
	c0.1,0.1,0.2,0.1,0.3,0.1h0.9c0.1,0,0.2,0,0.3-0.1C247.2,256.8,247.3,256.7,247.3,256.6z M246.8,242.7h6.2l-0.7-1.6
	c-0.1-0.1-0.1-0.1-0.2-0.2h-4.4c-0.1,0-0.2,0.1-0.2,0.2L246.8,242.7z M250.9,256.6v-9.8c0-0.1,0-0.2-0.1-0.3s-0.2-0.1-0.3-0.1h-0.9
	c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3v9.8c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1h0.9c0.1,0,0.2,0,0.3-0.1
	S250.9,256.7,250.9,256.6z M254.4,256.6v-9.8c0-0.1,0-0.2-0.1-0.3s-0.2-0.1-0.3-0.1h-0.9c-0.1,0-0.2,0-0.3,0.1
	c-0.1,0.1-0.1,0.2-0.1,0.3v9.8c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1h0.9c0.1,0,0.2,0,0.3-0.1S254.4,256.7,254.4,256.6z";
	-fx-background-color: grey;
	-fx-pref-width: 27px;
	-fx-pref-height: 30px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.7;
	-fx-scale-y: 0.7;
}

.power{
	-fx-shape: "M260.6,250.8c0,1.5-0.3,2.8-0.9,4.2c-0.6,1.3-1.3,2.5-2.3,3.4s-2.1,1.7-3.4,2.3s-2.7,0.9-4.2,0.9
	c-1.5,0-2.8-0.3-4.2-0.9c-1.3-0.6-2.5-1.3-3.4-2.3c-1-1-1.7-2.1-2.3-3.4c-0.6-1.3-0.9-2.7-0.9-4.2c0-1.7,0.4-3.3,1.1-4.8
	c0.7-1.5,1.8-2.8,3.2-3.8c0.4-0.3,0.8-0.4,1.3-0.3s0.9,0.3,1.2,0.7c0.3,0.4,0.4,0.8,0.3,1.3s-0.3,0.9-0.7,1.2
	c-0.9,0.7-1.6,1.5-2.1,2.5s-0.7,2.1-0.7,3.2c0,1,0.2,1.9,0.6,2.8c0.4,0.9,0.9,1.6,1.5,2.3c0.6,0.6,1.4,1.2,2.3,1.5s1.8,0.6,2.8,0.6
	s1.9-0.2,2.8-0.6s1.6-0.9,2.3-1.5c0.6-0.6,1.2-1.4,1.5-2.3c0.4-0.9,0.6-1.8,0.6-2.8c0-1.1-0.2-2.2-0.7-3.2s-1.2-1.8-2.1-2.5
	c-0.4-0.3-0.6-0.7-0.7-1.2s0-0.9,0.3-1.3c0.3-0.4,0.7-0.6,1.2-0.7c0.5-0.1,0.9,0.1,1.3,0.3c1.4,1,2.4,2.3,3.2,3.8
	C260.2,247.6,260.6,249.1,260.6,250.8z M251.6,240.1v8.9c0,0.5-0.2,0.9-0.5,1.3s-0.8,0.5-1.3,0.5c-0.5,0-0.9-0.2-1.3-0.5
	s-0.5-0.8-0.5-1.3v-8.9c0-0.5,0.2-0.9,0.5-1.3s0.8-0.5,1.3-0.5c0.5,0,0.9,0.2,1.3,0.5S251.6,239.6,251.6,240.1z";
	-fx-background-color: grey;
	-fx-pref-width: 28px;
	-fx-pref-height: 30px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.7;
	-fx-scale-y: 0.7;
}

.micon{
	-fx-shape: "M258.6,248.4v1.8c0,2.1-0.7,3.8-2.1,5.4c-1.4,1.5-3.1,2.4-5.1,2.6v1.8h3.6c0.2,0,0.5,0.1,0.6,0.3
	c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2-0.1,0.5-0.3,0.6s-0.4,0.3-0.6,0.3h-8.9c-0.2,0-0.5-0.1-0.6-0.3s-0.3-0.4-0.3-0.6
	c0-0.2,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3h3.6v-1.8c-2-0.2-3.7-1.1-5.1-2.6c-1.4-1.5-2.1-3.3-2.1-5.4v-1.8
	c0-0.2,0.1-0.5,0.3-0.6s0.4-0.3,0.6-0.3c0.2,0,0.5,0.1,0.6,0.3s0.3,0.4,0.3,0.6v1.8c0,1.7,0.6,3.2,1.8,4.4c1.2,1.2,2.7,1.8,4.4,1.8
	c1.7,0,3.2-0.6,4.4-1.8c1.2-1.2,1.8-2.7,1.8-4.4v-1.8c0-0.2,0.1-0.5,0.3-0.6s0.4-0.3,0.6-0.3c0.2,0,0.5,0.1,0.6,0.3
	S258.6,248.2,258.6,248.4z M255,243.1v7.1c0,1.2-0.4,2.3-1.3,3.2s-1.9,1.3-3.2,1.3c-1.2,0-2.3-0.4-3.2-1.3s-1.3-1.9-1.3-3.2v-7.1
	c0-1.2,0.4-2.3,1.3-3.2c0.9-0.9,1.9-1.3,3.2-1.3c1.2,0,2.3,0.4,3.2,1.3C254.6,240.8,255,241.8,255,243.1z";
	-fx-background-color: grey;
	-fx-pref-width: 23px;
	-fx-pref-height: 30px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.micoff{
	-fx-shape: "M259.7,243.4l-5,5v1.8c0,1.2-0.4,2.3-1.3,3.2c-0.9,0.9-1.9,1.3-3.2,1.3c-0.5,0-1-0.1-1.5-0.3l-1.3,1.3
	c0.9,0.5,1.9,0.7,2.9,0.7c1.7,0,3.2-0.6,4.4-1.8c1.2-1.2,1.8-2.7,1.8-4.4v-1.8c0-0.2,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3
	c0.2,0,0.5,0.1,0.6,0.3c0.2,0.2,0.3,0.4,0.3,0.6v1.8c0,2.1-0.7,3.8-2.1,5.4s-3.1,2.4-5.1,2.6v1.8h3.6c0.2,0,0.5,0.1,0.6,0.3
	c0.2,0.2,0.3,0.4,0.3,0.6c0,0.2-0.1,0.5-0.3,0.6c-0.2,0.2-0.4,0.3-0.6,0.3h-8.9c-0.2,0-0.5-0.1-0.6-0.3c-0.2-0.2-0.3-0.4-0.3-0.6
	c0-0.2,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3h3.6v-1.8c-1.2-0.1-2.3-0.5-3.3-1.1l-3.5,3.5c-0.1,0.1-0.2,0.1-0.3,0.1
	c-0.1,0-0.2,0-0.3-0.1l-1.1-1.1c-0.1-0.1-0.1-0.2-0.1-0.3s0-0.2,0.1-0.3l17.2-17.2c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0.1
	l1.1,1.1c0.1,0.1,0.1,0.2,0.1,0.3C259.9,243.2,259.8,243.3,259.7,243.4z M244.2,251.8l-1.4,1.4c-0.4-1-0.6-2-0.6-3v-1.8
	c0-0.2,0.1-0.5,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3c0.2,0,0.5,0.1,0.6,0.3c0.2,0.2,0.3,0.4,0.3,0.6v1.8
	C244,250.7,244,251.2,244.2,251.8z M254.4,241.5l-8.7,8.7v-7.1c0-1.2,0.4-2.3,1.3-3.2s1.9-1.3,3.2-1.3c0.9,0,1.8,0.3,2.6,0.8
	C253.6,240,254.1,240.7,254.4,241.5z";
	-fx-background-color: grey;
	-fx-pref-width: 27px;
	-fx-pref-height: 30px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.monitor{
	-fx-shape: "M263.1,240.8V256c0,0.6-0.2,1.1-0.7,1.6c-0.4,0.4-1,0.7-1.6,0.7h-7.6c0,0.3,0.1,0.7,0.2,1.1
	c0.1,0.4,0.3,0.7,0.4,1c0.1,0.3,0.2,0.5,0.2,0.6c0,0.2-0.1,0.5-0.3,0.6c-0.2,0.2-0.4,0.3-0.6,0.3h-7.1c-0.2,0-0.5-0.1-0.6-0.3
	c-0.2-0.2-0.3-0.4-0.3-0.6c0-0.1,0.1-0.3,0.2-0.6c0.1-0.3,0.3-0.6,0.4-1c0.1-0.4,0.2-0.7,0.2-1.1h-7.6c-0.6,0-1.1-0.2-1.6-0.7
	c-0.4-0.4-0.7-1-0.7-1.6v-15.2c0-0.6,0.2-1.1,0.7-1.6c0.4-0.4,1-0.7,1.6-0.7h22.3c0.6,0,1.1,0.2,1.6,0.7
	C262.9,239.7,263.1,240.2,263.1,240.8z M261.3,252.4v-11.6c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1h-22.3
	c-0.1,0-0.2,0-0.3,0.1c-0.1,0.1-0.1,0.2-0.1,0.3v11.6c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.2,0.1,0.3,0.1h22.3c0.1,0,0.2,0,0.3-0.1
	C261.3,252.7,261.3,252.6,261.3,252.4z";
	-fx-background-color: grey;
	-fx-pref-width: 30px;
	-fx-pref-height: 27px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.movie{
	-fx-shape: "M263.6,241v18.8c0,0.6-0.2,1.1-0.7,1.6c-0.4,0.4-1,0.7-1.6,0.7H239c-0.6,0-1.1-0.2-1.6-0.7
	c-0.4-0.4-0.7-1-0.7-1.6V241c0-0.6,0.2-1.1,0.7-1.6c0.4-0.4,1-0.7,1.6-0.7h22.3c0.6,0,1.1,0.2,1.6,0.7
	C263.3,239.9,263.6,240.4,263.6,241z M242.1,243.3v-1.8c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-1.8
	c-0.2,0-0.5,0.1-0.6,0.3c-0.2,0.2-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6s0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3
	S242.1,243.5,242.1,243.3z M242.1,248.6v-1.8c0-0.2-0.1-0.5-0.3-0.6s-0.4-0.3-0.6-0.3h-1.8c-0.2,0-0.5,0.1-0.6,0.3s-0.3,0.4-0.3,0.6
	v1.8c0,0.2,0.1,0.5,0.3,0.6c0.2,0.2,0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3C242,249.1,242.1,248.9,242.1,248.6z M242.1,254v-1.8
	c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-1.8c-0.2,0-0.5,0.1-0.6,0.3c-0.2,0.2-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6
	s0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3S242.1,254.2,242.1,254z M242.1,259.3v-1.8c0-0.2-0.1-0.5-0.3-0.6s-0.4-0.3-0.6-0.3h-1.8
	c-0.2,0-0.5,0.1-0.6,0.3s-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6s0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3
	S242.1,259.6,242.1,259.3z M256.4,248.6v-7.1c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-10.7c-0.2,0-0.5,0.1-0.6,0.3
	c-0.2,0.2-0.3,0.4-0.3,0.6v7.1c0,0.2,0.1,0.5,0.3,0.6c0.2,0.2,0.4,0.3,0.6,0.3h10.7c0.2,0,0.5-0.1,0.6-0.3
	C256.3,249.1,256.4,248.9,256.4,248.6z M256.4,259.3v-7.1c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-10.7
	c-0.2,0-0.5,0.1-0.6,0.3c-0.2,0.2-0.3,0.4-0.3,0.6v7.1c0,0.2,0.1,0.5,0.3,0.6s0.4,0.3,0.6,0.3h10.7c0.2,0,0.5-0.1,0.6-0.3
	S256.4,259.6,256.4,259.3z M261.8,243.3v-1.8c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-1.8c-0.2,0-0.5,0.1-0.6,0.3
	c-0.2,0.2-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6s0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3
	C261.7,243.7,261.8,243.5,261.8,243.3z M261.8,248.6v-1.8c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-1.8
	c-0.2,0-0.5,0.1-0.6,0.3s-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6c0.2,0.2,0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3
	C261.7,249.1,261.8,248.9,261.8,248.6z M261.8,254v-1.8c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-1.8
	c-0.2,0-0.5,0.1-0.6,0.3c-0.2,0.2-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6s0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3
	C261.7,254.4,261.8,254.2,261.8,254z M261.8,259.3v-1.8c0-0.2-0.1-0.5-0.3-0.6c-0.2-0.2-0.4-0.3-0.6-0.3h-1.8
	c-0.2,0-0.5,0.1-0.6,0.3s-0.3,0.4-0.3,0.6v1.8c0,0.2,0.1,0.5,0.3,0.6s0.4,0.3,0.6,0.3h1.8c0.2,0,0.5-0.1,0.6-0.3
	C261.7,259.8,261.8,259.6,261.8,259.3z";
	-fx-background-color: grey;
	-fx-pref-width: 30px;
	-fx-pref-height: 25px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}

.spinner{
	-fx-shape: "M243.7,249.4c0.4,0.4,0.7,1,0.7,1.6c0,0.6-0.2,1.1-0.7,1.6c-0.4,0.4-1,0.7-1.6,0.7c-0.6,0-1.1-0.2-1.6-0.7
	c-0.4-0.4-0.7-1-0.7-1.6c0-0.6,0.2-1.1,0.7-1.6c0.4-0.4,1-0.7,1.6-0.7C242.7,248.8,243.3,249,243.7,249.4z M246.5,243
	c0.5,0.5,0.7,1.1,0.7,1.7s-0.2,1.3-0.7,1.7c-0.5,0.5-1.1,0.7-1.7,0.7c-0.7,0-1.3-0.2-1.7-0.7c-0.5-0.5-0.7-1.1-0.7-1.7
	s0.2-1.3,0.7-1.7c0.5-0.5,1.1-0.7,1.7-0.7C245.5,242.3,246.1,242.6,246.5,243z M246.2,255.8c0.4,0.4,0.6,0.9,0.6,1.4
	c0,0.6-0.2,1-0.6,1.4c-0.4,0.4-0.9,0.6-1.4,0.6c-0.6,0-1-0.2-1.4-0.6s-0.6-0.9-0.6-1.4c0-0.6,0.2-1,0.6-1.4s0.9-0.6,1.4-0.6
	C245.4,255.3,245.8,255.5,246.2,255.8z M253,240.2c0.5,0.5,0.8,1.2,0.8,1.9s-0.3,1.4-0.8,1.9c-0.5,0.5-1.2,0.8-1.9,0.8
	c-0.7,0-1.4-0.3-1.9-0.8c-0.5-0.5-0.8-1.2-0.8-1.9s0.3-1.4,0.8-1.9c0.5-0.5,1.2-0.8,1.9-0.8C251.8,239.4,252.4,239.7,253,240.2z
	 M252.3,258.7c0.3,0.3,0.5,0.8,0.5,1.3s-0.2,0.9-0.5,1.3c-0.3,0.3-0.8,0.5-1.3,0.5c-0.5,0-0.9-0.2-1.3-0.5s-0.5-0.8-0.5-1.3
	s0.2-0.9,0.5-1.3s0.8-0.5,1.3-0.5C251.5,258.2,252,258.3,252.3,258.7z M258.4,256.2c0.3,0.3,0.5,0.7,0.5,1.1s-0.2,0.8-0.5,1.1
	c-0.3,0.3-0.7,0.5-1.1,0.5c-0.4,0-0.8-0.2-1.1-0.5c-0.3-0.3-0.5-0.7-0.5-1.1s0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.5,1.1-0.5
	C257.7,255.7,258.1,255.9,258.4,256.2z M258.1,244c0.2,0.2,0.3,0.5,0.3,0.8s-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3
	c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.8s0.1-0.6,0.3-0.8c0.2-0.2,0.5-0.3,0.8-0.3C257.6,243.7,257.9,243.8,258.1,244z
	 M260.9,250.1c0.3,0.3,0.4,0.6,0.4,0.9s-0.1,0.7-0.4,0.9c-0.3,0.3-0.6,0.4-0.9,0.4s-0.7-0.1-0.9-0.4c-0.3-0.3-0.4-0.6-0.4-0.9
	s0.1-0.7,0.4-0.9c0.3-0.3,0.6-0.4,0.9-0.4S260.7,249.8,260.9,250.1z";
	-fx-background-color: grey;
	-fx-pref-width: 30px;
	-fx-pref-height: 25px;
	-fx-blend-mode: multiply;
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
}



